@model IEnumerable<PetStore.Models.Pet>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

@foreach (var item in Model) {
<div class="row">
    <div class="col-md-1">
        <img src="/Content/Images/hm.jpg" alt="Hyacinth Macaw" width="80px" height="80px" />
    </div>
    <div class="col-md-11">
        <b>@Html.DisplayFor(modelItem => item.Animal)</b>
        <br />
        @Html.DisplayFor(modelItem => item.Description)
    </div>
</div>

}
