@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Store</h1>
    <p class="lead">Pet Store has a large variety of household companions, ranging from common 
    pets such as the Black Cat to rare and exotic ones such as the Hyacinth Macaw.</p>
    <p><a href="Inventory" class="btn btn-primary btn-large">Browse Pets &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            <br />
            Bacon ipsum dolor sit amet filet mignon tail leberkas, jowl pastrami beef hamburger 
            ground round pancetta capicola drumstick pig. Sirloin filet mignon ball tip tongue 
            landjaeger pastrami. Turducken boudin pork chop, bacon rump meatball short ribs. 
            Meatball kielbasa meatloaf jerky flank. Pork cow ball tip ham hock strip steak 
            boudin sirloin pig, chuck tongue. Fatback chicken pork chop, drumstick shankle 
            leberkas meatball. Filet mignon shank frankfurter doner prosciutto ham hock, pork 
            chop meatball porchetta hamburger pork loin pork bacon.
            <br />
            <br />
            Flank meatloaf short ribs boudin doner biltong filet mignon kielbasa sausage sirloin 
            cow pork belly venison tail. Pancetta leberkas cow tri-tip filet mignon beef ribs 
            ribeye short ribs tongue shankle meatloaf. Ball tip turducken frankfurter meatball, 
            pork loin kielbasa ground round andouille kevin chuck spare ribs cow. Pig pork chuck, 
            corned beef prosciutto spare ribs strip steak biltong chicken ground round andouille ham. 
            Beef ribs spare ribs frankfurter, pig short loin venison kielbasa jerky sausage t-bone 
            beef turkey leberkas shank.
        </p>
    </div>
    <div class="col-md-6">
        <img src="/Content/Images/hm.jpg" alt="Hyacinth Macaw" />
    </div>
</div>